<%- include("partials/header") %>

<%- include("partials/nav") %>

<div class="body">
   <a href="/overview">⟵  back to the overview</a>

    <table class="table-detail">
        <tr>
<td > Waterfall ID </td>
 <td> <%= element.waterfallId %> </td>
        </tr>
        <tr>
<td > Image </td>
 <td style="text-align: center;"><img src="<%= element.imageURL%>">  </td>
        </tr>
          <tr>
<td > Name </td>
 <td> <%= element.name %> </td>
        </tr>
         <tr>
<td > Country </td>
 <td> <%= element.country %> </td>
        </tr>
                 <tr>
<td > Description </td>
 <td> <%= element.description %> </td>
        </tr>
        <tr>
<td> Height in meter </td>
 <td> <%= element.heightInM %> </td>
        </tr>
    <tr>
<td> Yearround water flow</td>
 <% if(element.yearRoundWaterFlow == true){%>
                     <td> <div  title="Year-round water flow" style="width: 20px;
    height: 20px;
    background-color:  #4F7F4F;
    border-radius: 50%;
    margin: auto;
"> </div> </td>
<% } else { %>
      <td> <div  title="No year-round water flow" style="width: 20px;
    height: 20px;
    background-color: #C17F59;
    border-radius: 50%;
    margin: auto;"> </div> </td>
<% }%>
        </tr>
    <tr>
<td> Date of first documentary</td>
 <td> <%= element.dateOfFirstDocumentary %> </td>
        </tr>
    <tr>
<td > Type of waterfall </td>

 <td> <%= element.type %> </td>
        </tr>
        <tr>
<td> Source of the Image </td>
 <td> <%= element.imageSource %> </td>
        </tr>
           <tr>
<td > Climate </td>
 <td> <p style="text-decoration: underline;"> <%= element.climate.climateId %> - <%= element.climate.name %> </p>
      <p>- Ø annual temperature: <%= element.climate.annualAvgTemperatureCelsius %>°C</p>
       <p>- <%= element.climate.environment %> </p>
    <% if (element.climate.freezePossible) { %>
        <p title= "Freeze is possible">- ❄️ - Freeze is possible</p>
    <% } else { %>
         <p title= "No freeze expected">- 🌿 - No freeze expected</p>
    <% } %>
</td>
        </tr>
   
    </table>
    <h2> Waterfalls also located in <%= element.climate.name%> Zone</h2>
 
     <% waterfallObject.forEach(ele => { %>
        <%if(ele.climate.climateId == element.climate.climateId ) { %>
        <table class="table-detail">
                  <tr>
                    <td>
Name 
                </td>
                <td>
<a href="/detailpage/<%=ele.waterfallId%>"><%=ele.waterfallId%> - <%=ele.name%></a>
                </td>
                </tr> 
             </table>
  <%}}) %>

  <a href="/editor/<%=element.waterfallId%>"> foreward to the editor ⟶</a>

    </div>
    <%- include("partials/footer") %>