<%- include("partials/header") %>

    <form  action="/overview" method="GET">
        <label for="search">Search</label>
        <input type="text" name="search"> 

        <select name="sort" id="">
            <option value="name">Name</option>
            <option value="country">Country</option>
            <option value="height">Height </option>
            <option value="date">Date of first documentary </option>
            <option value="flow">Year-round water flow </option>
            <option value="type">Waterfall type </option>
        </select>
        <select name="direction" id="">
            <option value="asc">ascending</option>
            <option value="desc">descending</option>
        </select>

         <button type="submit">Submit</button>
    </form>

    <table>
        <thead>
                    <tr>  
                    <th colspan="2"> Name </th>
                     <th>Country </th>
                     <th> Height in meter </th>
                     <th>Year-round water flow </th>
                     <th> Date of first documentary </th>
                      <th> waterfall type </th>
                </tr>
        </thead>
        <tbody>
            <% waterfallObject.forEach(element => { %>
                    <tr>  
                    <td><img src="<%= element.imageURL%>" width="120">  </td>
                     <td><a href="detailpage/<%= element.waterfallId %>"><%= element.name %> </a> </td>
                     <td> <%= element.country %> </td>
                     <td> <%= element.heightInM %> </td>
                    <% if(element.yearRoundWaterFlow == true){%>
                     <td> <div style="width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    margin: auto;
"> </td>
<%} else { %>
      <td> <div style="width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
"> </td>
<% }%>
                     <td> <%= element.dateOfFirstDocumentary %> </td>
                      <td> <%= element.type %> </td>
                </tr>
                <%}) %>
        </tbody>
    </table>
</body>
</html>