<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="body">

    

    <table>
        <thead>
                    <tr>  
                    <th colspan="2"> Name </th>
                     <th>Ø annual temperature </th>
                     <th> Environment </th>
                     <th>Freeze possible </th>
                </tr>
        </thead>
        <tbody>
            <% climateObject.forEach(element => { %>
                    <tr>  
                    <td><a href="climatepage/<%= element.climateId %>"><img src="<%= element.image%>" width="120"> </a> </td>
                     <td><a href="climatepage/<%= element.climateId %>"><%= element.name %> </a> </td>
                     <td> <%= element.annualAvgTemperatureCelsius %> </td>
                     <td> <%= element.environment %> </td>
                 <td> <% if (element.freezePossible) { %>
        <p title= "Freeze is possible">- ❄️ - Freeze is possible</p>
    <% } else { %>
         <p title= "No freeze expected">- 🌿 - No freeze expected</p>
    <% }}) %>
</td>  
        </tbody>
    </table>
    </div>
<%- include("partials/footer") %>