<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="body">

    <form  action="/waterfalls/overview" method="POST">
        <label for="search">Search</label>
        <input type="text" name="search"> 

        <select name="sort" id="">
            <option value="name">Name</option>
            <option value="country">Country</option>
            <option value="height">Height </option>
            <option value="date">Date of first documentary </option>
            <option value="flow">Year-round water flow </option>
            <option value="type">Waterfall type </option>
        </select>
        <select name="direction" id="">
            <option value="asc">ascending</option>
            <option value="desc">descending</option>
        </select>

         <button type="submit">Submit</button>
    </form>

    <table>
        <thead>
                    <tr>  
                    <th colspan="2"> Name </th>
                     <th>Country </th>
                     <th> Height in meter </th>
                     <th>Year-round water flow </th>
                     <th> Date of first documentary </th>
                      <th> Waterfall type </th>
                </tr>
        </thead>
        <tbody>
            <% waterfallObject.forEach(element => { %>
                    <tr>  
                    <td><a href="/waterfalls/detailpage/<%= element.waterfallId %>"><img src="<%= element.imageURL%>" width="120"> </a> </td>
                     <td><a href="/waterfalls/detailpage/<%= element.waterfallId %>"><%= element.name %> </a> </td>
                     <td> <%= element.country %> </td>
                     <td> <%= element.heightInM %> </td>
                    <% if(element.yearRoundWaterFlow == true){%>
                     <td> <div title="Year-round water flow" style="width: 20px;
    height: 20px;
    background-color: #4F7F4F;
    border-radius: 50%;
    margin: auto;
"> </td>
<%} else { %>
      <td> <div  title="No year-round water flow" style="width: 20px;
    height: 20px;
    background-color: #C17F59;
    border-radius: 50%;
    margin: auto;
"> </td>
<% }%>
                     <td> <%= element.dateOfFirstDocumentary %> </td>
                      <td> <%= element.type %> </td>
                </tr>
                <%}) %>
        </tbody>
    </table>
    </div>
<%- include("partials/footer") %>